
/*
using import option link your font to css file
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

p, h1  /* Apply this style on p and h1 elements*/
{
    font-family: "Roboto", serif;
    
}

main p /* All p elements inside main container*/
{
    text-indent: 20px;
    line-height: 1.5;
    word-spacing: 3px;
}

#p1
{
    color: blue;
}

.firstClass
{
    color:aqua;
    background-color: black;
}

a
{
    display: block; /*block: element will sit on its on line*/
}

a:link /* Applies to links that have not been clicked*/
{
    color:aqua;
}
a:visited /* applied to visited links*/
{
    color:yellowgreen;
}
a:hover /* applied to links when you are going to move the mouse cursor over those*/
{
    color: blue;
}
a:active /* applies to links when it is being clicked You can hold left mouse key to check this one.*/ 
{
    color:brown;
}



